.modal__save {
    border-radius: 2px;
    min-height: 50px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
    translate: opacity .3 ease;
}

.modal__save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 550px) {
    .modal__save {
        font-size: 14px;
        line-height: 17px;
        min-height: 46px;
    }
}