.modal__input {
    margin-bottom: 30px;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.modal__input:last-child {
    margin-bottom: 0;
}

.modal__input:focus {
    outline: none;
}